<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UIComponent</title>
  <style>
    body {
      font-family: 'Roboto';
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
  <script type="module" crossorigin src="../assets/component.js"></script>
  <link rel="modulepreload" crossorigin href="../assets/modulepreload-polyfill-B5Qt9EMX.js">
  <link rel="modulepreload" crossorigin href="../assets/lit-html-paDGiEfB.js">
  <link rel="modulepreload" crossorigin href="../assets/state-DYefyXr3.js">
  <link rel="modulepreload" crossorigin href="../assets/ref-CInB0H-f.js">
  <link rel="modulepreload" crossorigin href="../assets/index-w_ujPeCu.js">
</head>

<body>
</body>

</html>