html {
  font-family: sans-serif;
}

body {
  background-color: var(--bim-ui_bg-base);
}

bim-button {
  width: 12rem;
}

.btn-1 {
  --bim-label--c: rgb(255 97 97);
  background-color: rgb(182 19 19 / 40%);
  border-radius: 100px;
}

.btn-1:hover {
  --bim-label--c: rgb(239, 75, 75);
  background-color: rgb(182 19 19 / 50%);
  outline: 1px solid rgb(239, 75, 75);
}

.btn-2 {
  background-color: transparent;
}

.btn-2:hover {
  --bim-label--c: var(--bim-ui_accent-base);
}